$primary-color: #007bff;

.desktop {
  display: block;
  @media (max-width: 767px) {
    display: none;
  }
}

.mobile {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.icon{
  width: 24px;
  height: 24px;
}

.edit-icon{
  @extend .icon;
  color: $primary-color;
}

.delete-icon{
  @extend .icon;
  color: red;
}

.pending_nav {
  text-decoration: none;
  color: white;
}

.menu-links{
  background-color: $primary-color;
  height: 48px;
}

.active_nav {
  color: white;
  text-decoration: underline;
  text-decoration-color: #febd69;
  text-underline-offset: 8px;
}